.app-main {
  width: 100%;
  height: 100dvh;
}

.app-main-edit,
.app-main-note-preview {
  height: 50dvh;
}

.app-main-edit {
  padding: 25px;

  input,
  textarea {
    display: block;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    width: 100%;
    height: calc(50dvh - 130px);
    padding: 5px;
    resize: none;
    font-size: 1rem;
  }

  input {
    height: 50px;
    font-size: 1.2rem;
  }
}

.app-main-note-preview {
  border-top: 1px solid #ddd;
  overflow-y: scroll;
  background: rgba(0, 0, 0, 0.04);
}

.preview-title {
  padding: 25px 25px 0 25px;
  margin: 0;
}

.markdown-preview {
  padding: 0 25px 25px 25px;
  line-height: 2rem;
}
